@charset "UTF-8";

/* Root */

@font-face
{
	font-family: Apple;
	src: url(./assets/AppleGaramond.ttf);
}

@font-face
{
	font-family: Accidental;
	src: url(./assets/accidental_presidency.ttf);
}

html, body
{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

body::before { /* Background image */
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url(./assets/island.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: grayscale(15%) blur(0.5px) brightness(75%) saturate(130%);
}

body
{
	min-height: 100%;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-radius: 10px; /* Default border edges */
	font-size: 18px; /* Default font size */
	font-family: "Trebuchet MS", Arial, sans-serif;
}

/* Header */
header
{
	display: flex;
	background-color: #efefef;
	height: 4rem;
	width: 96%;
	margin: 1rem auto;
	padding: 0.25rem;
	justify-content: space-between;
}

.header-logo
{
	display: flex;
	align-items: center;
}

.header-logo img
{
	width: 64px;
	height: 64px;
	margin: auto 1rem;
}

.header-title
{
	max-width: 7rem;
	text-wrap: wrap;
	font-size: 1.6rem;
	font-family: Apple, sans-serif;
	font-weight: 800;
}

/* Nav bar */
header nav
{
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: space-between;
	margin: auto 2rem;
}

header nav *
{
	margin: auto !important;
}

/* Main content */
main
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45%;
	min-height: 50%; 
	margin: 2rem auto;
	background-color: #efefef;
	padding: 1rem;
	text-align: center;
}

/* Smaller sized main, used for forms and such */
.tight
{
	width: 35%;
	min-height: unset;
	height: min-content;
}

/* Unique landing content */
.landing
{
	justify-content: space-evenly;
	width: 40%;
	min-height: 75%;
	margin: 2rem 4%;
	background-color: #A5EBFF;
}

/* Unique floating message on landing page */
.floating-message
{
	position: absolute;
	bottom: 16%;
	right: 12%;
	font-family: Apple, serif;
	font-size: 1.5rem;
	color: #fff;
	max-width: 16%;
	text-wrap: wrap;
	text-align: center;
}

/* Standard link buttons */
a, .login-button
{
	border-radius: 30px;
	color: #efefef;
	font-size: 1.75rem;
	font-family: Accidental, sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0.5rem 0;
	width: 9rem;
	text-wrap: nowrap;
	background-color: #3730FD;
	text-align: center;
	text-decoration: none;
	box-shadow: -1px 2px 2px 1px #30303020, 1px 2px 2px 1px #30303020;
	margin: 0.5rem auto;
}

a:hover, .login-button:hover
{
	cursor: pointer;
	background-color: #3833D3;
}

/* No background buttons */
.no-background, .link
{
	background-color: transparent;
	font-weight: 300;
	width: min-content;
	color: #000;
	box-shadow: none;
}

.no-background:hover, .link:hover
{
	opacity: 0.9;
	cursor: pointer;
	background-color: inherit;
}

.background-secondary
{
	background-color: #296DEC;
}

.background-secondary:hover
{
	background-color: #195ddc;
}

.link
{
	text-decoration: underline;
	font-size: unset;
	text-transform: unset;
	font-family: unset;
	padding: 0;
	letter-spacing: unset;
	color: blue;
}

/* A standard section */
div
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* Forms */
form
{
	display: flex;
	flex-direction: column;
	width: 60%;
	text-align: left;
	padding: 2rem;
}

form *
{
	width: 100%;
}

input:not([type="button"])
{
	background-color: #ddd;
	font-size: 0.9rem;
	font-family: Helvetica, sans-serif;
}

input, button
{
	margin-bottom: 1rem;
	border: none;
	min-height: 2rem;
	padding: 5px;
}

.login-button /* Secondary login button with its own style */
{
	text-transform: unset;
	font-size: 1.5rem;
	box-shadow: unset;
	padding: 0.25rem 0;
}

/* Standard text elements */
h1, h2, h3 {
	font-family: "Trebuchet MS", cursive, sans-serif;
}

h1
{
	font-size: 1.8rem;
	letter-spacing: 0.25px;
	font-weight: 200;
}

h2
{
	font-size: 1.5rem;
	letter-spacing: 0.25px;
	font-weight: 200;
}

/* Informational pop up / caption message */
.information
{
	font-size: 0.9rem;
	text-align: center !important;
	margin: 0.5rem auto;
	font-weight: 0;
}

.small
{
	font-size: 0.85rem;
	opacity: 0.6;
}














